button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.tag-btn {
  a {
    display: block;
    padding: $xsm-space;
    border: 1px solid $base-accent-color;
    border-radius: 4px;
    text-align: center;
  }
}
